.grid-cell {
  width: 30px;
  height: 0;
  padding-bottom: 30px;
  background-color: white;
}

.start-cell {
  background-color: #7cfc00;
  background-image: url("../assets/start.png");
  background-repeat: no-repeat;
  background-size: contain;
  animation: placeCell 0.3s linear 0s 1;
}

.goal-cell {
  background-color: #ff6347;
  background-image: url("../assets/goal.png");
  background-repeat: no-repeat;
  background-size: contain;
  animation: placeCell 0.3s linear 0s 1;
}

.weighted-cell {
  background-color: #a9a9a9;
  background-image: url("../assets/weight.png");
  background-repeat: no-repeat;
  background-size: contain;
  animation: placeCell 0.3s linear 0s 1;
}

.wall-cell {
  background-color: black;
  animation: placeCell 0.3s linear 0s 1;
}

.visited {
  background-color: blue;
  animation: visitAnimation 1s ease-out 0s alternate 1;
}

.route {
  background-color: yellow;
  animation: routeAnimation 1s ease-out 0s alternate 1;
}

@keyframes placeCell {
  0% {
    transform: scale(0.5);
    border-radius: 100%;
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes visitAnimation {
  0% {
    transform: scale(0.5);
  }
  50% {
    background-color: purple;
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    background-color: blue;
  }
}

@keyframes routeAnimation {
  0% {
    transform: scale(0.5);
    background-color: brown;
  }
  50% {
    background-color: chartreuse;
  }
  75% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
    background-color: yellow;
  }
}
