.grid-cell {
  width: 30px;
  height: 0;
  padding-bottom: 30px;
  background-color: white;
}

.start-cell {
  background-color: #7cfc00;
  background-image: url("../assets/start.png");
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: placeCell;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-play-state: running;
  animation-timing-function: linear;
}

.goal-cell {
  background-color: #ff6347;
  background-image: url("../assets/goal.png");
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: placeCell;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-play-state: running;
  animation-timing-function: linear;
}

.weighted-cell {
  background-color: #a9a9a9;
  background-image: url("../assets/weight.png");
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: placeCell;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-play-state: running;
  animation-timing-function: linear;
}

.wall-cell {
  background-color: black;
  animation-name: placeCell;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-play-state: running;
  animation-timing-function: linear;
}

.visited {
  background-color: blue;
  animation-name: visitAnimation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-play-state: running;
  animation-timing-function: linear;
}

.route {
  background-color: yellow;
  animation-name: routeAnimation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-play-state: running;
  animation-timing-function: linear;
}

@keyframes placeCell {
  0% {
    transform: scale(0.5);
    border-radius: 100%;
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes visitAnimation {
  0% {
    transform: scale(0.5);
  }
  50% {
    background-color: purple;
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    background-color: blue;
  }
}

@keyframes routeAnimation {
  0% {
    transform: scale(0.5);
    background-color: brown;
  }
  50% {
    background-color: chartreuse;
  }
  75% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
    background-color: yellow;
  }
}
